{% extends "header-footer.html" %}
  {% block container %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{statistics['Country']}} : {{statistics['Date']}}</h1>
            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button" onclick='window.location.reload(false)' value="Refresh"/>
          </div>

          <!-- Content Row : Global stats -->
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Confirmed</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{statistics['TotalConfirmed']}}</div>
                            </div>
                            <div class="col-auto">
                            <i class="fas fa-check-circle fa-2x text-primary"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success  text-uppercase mb-1">Total Recovered</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{statistics['TotalRecovered']}}</div>
                                </div>
                                <div class="col-auto">
                                  <i class="fas fa-heartbeat fa-2x text-success"></i>
                                </div>
                            </div>
                            </div>
                    </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                      <div class="card border-left-danger shadow h-100 py-2">
                          <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Deaths</div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{statistics['TotalDeaths']}}</div>
                              </div>
                              <div class="col-auto">
                              <i class="fas fas fa-exclamation-circle fa-2x text-danger"></i>
                              </div>
                          </div>
                          </div>
                      </div>
                      </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Still Sick</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{statistics['still']}}</div>
                            </div>
                            <div class="col-auto">
                            <i class="fas fa-spinner fa-spin fa-2x text-info"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                      <div class="card border-left-primary shadow h-100 py-2">
                          <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Confirmed</div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{statistics['NewConfirmed']}}</div>
                              </div>
                              <div class="col-auto">
                              <i class="fas fa-check-circle fa-2x text-primary"></i>
                              </div>
                          </div>
                          </div>
                      </div>
                      </div>

                      <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                      <div class="card border-left-success shadow h-100 py-2">
                          <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-success  text-uppercase mb-1">New Recovered</div>
                                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{statistics['NewRecovered']}}</div>
                                  </div>
                                  <div class="col-auto">
                                    <i class="fas fa-heartbeat fa-2x text-success"></i>
                                  </div>
                              </div>
                              </div>
                      </div>
                      </div>
  
                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">New Deaths</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{statistics['NewDeaths']}}</div>
                                </div>
                                <div class="col-auto">
                                <i class="fas fas fa-exclamation-circle fa-2x text-danger"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{statistics['Country']}} Total Cases</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-chart-line fa-md fa-fw text-primary"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{statistics['Country']}} Statistics</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-chart-pie fa-md fa-fw text-primary"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-danger" ></i> Death
                    </span>
                      <input type="text" id="covid-death" value="{{globalstats['deathstat']}}" hidden>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success" ></i> Recovered
                    </span>
                      <input type="text" id="covid-recovered" value="{{globalstats['recoveredstat']}}" hidden>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info" ></i> Still Sick
                    </span>
                      <input type="text" id="covid-still" value="{{globalstats['stillstat']}}" hidden>
                  </div>
                </div>
              </div>
            </div>
          </div>   

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
  {% endblock %}

      