<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="../static/img/logo_free-file.png">
  <title>Covid-19 | Stats</title>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt=""></a>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> &copy; Ismail Nizar</span>
                <img class="img-profile rounded-circle" src="../static/img/ni.png">
              </a>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        {% block container %}

        {% endblock%}
        
        <!-- PopAds.net Popunder Code for covid19-statss.herokuapp.com -->
        <script type="text/javascript" data-cfasync="false">
          // /*<![CDATA[/* */
          //   var _pop = _pop || [];
          //   _pop.push(['siteId', 4017815]);
          //   _pop.push(['minBid', 0]);
          //   _pop.push(['popundersPerIP', 0]);
          //   _pop.push(['delayBetween', 0]);
          //   _pop.push(['default', false]);
          //   _pop.push(['defaultPerDay', 0]);
          //   _pop.push(['topmostLayer', false]);
          //   (function() {
          //     var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
          //     var s = document.getElementsByTagName('script')[0]; 
          //     pa.src = '//c1.popads.net/pop.js';
          //     pa.onerror = function() {
          //       var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
          //       sa.src = '//c2.popads.net/pop.js';
          //       s.parentNode.insertBefore(sa, s);
          //     };
          //     s.parentNode.insertBefore(pa, s);
          //   })();
          // /*]]>/* */
          </script>
          <!-- PopAds.net Popunder Code End -->
        <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; <a href="https://ismailnizar.netlify.app/" class="text-primary">Ismail Nizar</a> 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../static/js/demo/chart-area-demo.js"></script>
  <script src="../static/js/demo/chart-pie-demo.js"></script>
  <script src="../static/js/demo/chart-bar-demo.js"></script>

</body>

</html>
